html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body, h1, p, ul {
  margin: 0;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}


body {
  min-block-size: 100vh;
  min-block-size: 100svh;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  font-family: 'Overpass', sans-serif;
  background-color: var(--very-dark-blue);
  line-height: 1.55;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --light-orange: hsl(25, 100%, 69%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(215, 23%, 14%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --very-light-grey: hsl(215, 18%, 19%);
}

/* Layout */
.rating-form,
.thanks-box {
  margin-top: 3.7rem;
  padding: 1.5rem 1.4rem 2rem 1.5rem;
  inline-size: clamp(20.45rem, 86vw, 25.8rem);
  background-color: var(--dark-blue);
  border-radius: .8rem;
  border: none;
}
.thanks-box {
  display: none;
  text-align: center;
  cursor: pointer;
}
.radios-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 1.45rem;
  display: flex;
  justify-content: space-between;
  border: none;
}
.label {
  display: inline-block;
  inline-size: 2.6rem;
  block-size: 2.6rem;
  font-weight: 700;
  background-color: var(--very-light-grey);
  border-radius: 50%;
  color: var(--light-grey);
  cursor: pointer;
  line-height: 2.6rem;
  text-align: center;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.sr-only {
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
}
.attribution {
  padding-block: 1.2rem;
  text-align: center;
}

/* Typography*/
.form-ttl,
.box-ttl {
  margin-bottom: .55rem;
  font-size: clamp(1.49rem, 1rem + 2vw, 1.72rem);
  color: var(--white);
}
.form-desc,
.box-desc {
  font-size: clamp(.875rem, .5rem + 1.6vw, .9375rem);
  color: var(--light-grey);
  line-height: 1.58;
}
.box-result {
  margin: 1rem auto 1.7rem;
  padding: .4rem .8rem .2rem;
  inline-size: max-content;
  font-size: clamp(.875rem, .5rem + 1.6vw, .9375rem);
  background-color: var(--very-light-grey);
  border-radius: 2rem;
  color: var(--light-orange);
  opacity: .9;
}
.attribution {
  font-size: .85rem;
  font-weight: 500;
  color: var(--white);
}
.attribution-cta {
  font-weight: 700;
  color: var(--light-orange);
  text-underline-offset: .25rem;
  text-decoration-thickness: .15rem;
}

/* Button */
.submit-btn {
  margin-top: 1.45rem;
  padding-block: .78rem;
  inline-size: 100%;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--orange);
  border-radius: 3rem;
  letter-spacing: 2px;
  color: var(--very-dark-blue);
  cursor: pointer;
  transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}

/* Images */
.form-logo {
  inline-size: 2.5rem;
  block-size: 2.5rem;
  margin-bottom: 1.2rem;
  display: grid;
  place-items: center;
  background-color: var(--very-light-grey);
  border-radius: 50%;
}
.box-illus {
  margin-top: .59rem;
  max-inline-size: 9rem
}


@media (width >= 30.25rem) {
  .rating-form,
  .thanks-box {
    padding: 2.04rem 2.45rem 2.04rem 2.05rem;
    border-radius: 2rem;
  }
  .form-logo {
    margin-bottom: 2.1rem;
    inline-size: 3rem;
    block-size: 3rem;
  }
  .form-ttl {
    margin-bottom: .3rem;
  }
  .form-desc,
  .box-desc {
    line-height: 1.6;
  }
  .radios-wrapper {
    margin-top: 1.4rem;
  }
  .label {
    inline-size: 3.18rem;
    block-size: 3.18rem;
    line-height: 3.18rem;
  }
  .submit-btn {
    margin-top: 2rem;
  }

  .thanks-box {
    padding-bottom: 2.7rem;
  }
  .box-illus {
    margin-top: .77rem;
    max-inline-size: unset;
  }
  .box-result {
    margin: 1.45rem auto 2.2rem;
    padding: .4rem 1.2rem .18rem;
  }
  .box-ttl {
    margin-bottom: .35rem;
  }
}

/* States */
.submit-btn:disabled {
  cursor: not-allowed;
  background-color: var(--light-orange);
}

@media (hover:hover) {
  .label:hover {
    background-color: var(--white);
    color: var(--very-dark-blue);
  }
  .attribution-cta:hover {
    text-decoration: none;
  }
}

input[type="radio"]:checked + label {
  background-color: var(--orange);
  color: var(--very-dark-blue);
}
